body {
    background-color: rgb(53, 39, 39);
    color: purple;
    font-family: 'Times New Roman', Times, serif;
}

header {
    text-align: center;
    color: rgb(190, 3, 190);
    font-size: 48px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 32px;
}

h1 {
    text-align: center;
    padding: 32px;
}

.link-azul{
    color: lightblue;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.link-laranja{
    color: orange;
}

.link-vermelho{
    color: red;
}

.freyr {
    width: 150px;
    height: 150px;
    border: solid lightblue;
}

.ladgerda {
    width: 150px;
    height: 150px;
    border: solid orange;
}

.rosso {
    width: 150px;
    height: 150px;
    border: solid red;
}