body {
    background: url(img/Fundo2.png), linear-gradient(to bottom, rgb(7, 64, 128), rgb(11, 108, 171));
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    text-align: center;
    color: whitesmoke;
    font-size: 48px;
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    padding: 16px;
}

.link-azul{
    text-align: center;
    color: lightblue;
    list-style-type: none;
}

.link-laranja{
    text-align: center;
    color: whitesmoke;
    list-style-type: none;
}

.link-dourado{
    text-align: center;
    color: goldenrod;
    list-style-type: none;
}

.link-roxo{
    text-align: center;
    color: rgb(139, 4, 139);
    list-style-type: none;
}

.link-marrom{
    text-align: center;
    color: rgb(37, 22, 8);
    list-style-type: none;
}

.f0 {
    text-align: center;
}
.ff1 {
    color:whitesmoke;
    font-size: 24px;
    list-style: none;
    display: inline-flex;
    cursor:pointer;
    background-color: blue;
    line-height: 0.6;
    padding: 0.5% 1.2%;
}

.ff2 {
    color:whitesmoke;
    font-size: 24px;
    list-style: none;
    display: inline-flex;
    cursor:pointer;
    background-color: orange;
    line-height: 0.6;
    padding: 0.5% 1.2%;
}

.ff3 {
    color:whitesmoke;
    font-size: 24px;
    list-style: none;
    display: inline-flex;
    cursor:pointer;
    background-color: red;
    line-height: 0.6;
    padding: 0.5% 1.2%;
}

.ff4 {
    color:whitesmoke;
    font-size: 24px;
    list-style: none;
    display: inline-flex;
    cursor:pointer;
    background-color: rgb(255, 209, 94);
    line-height: 0.6;
    padding: 0.5% 1.2%;
}

.ff5 {
    color:whitesmoke;
    font-size: 24px;
    list-style: none;
    display: inline-flex;
    cursor:pointer;
    background-color: rgb(139, 4, 139);
    line-height: 0.6;
    padding: 0.5% 1.2%;
}

.ff6 {
    color:whitesmoke;
    font-size: 24px;
    list-style: none;
    display: inline-flex;
    cursor:pointer;
    background-color: rgb(37, 22, 8);
    line-height: 0.6;
    padding: 0.5% 1.2%;
}

.ff7 {
    color:whitesmoke;
    font-size: 24px;
    list-style: none;
    display: inline-flex;
    cursor:pointer;
    background-color: rgb(255, 150, 238);
    line-height: 0.6;
    padding: 0.5% 1.2%;
}

.ff8 {
    color:whitesmoke;
    font-size: 24px;
    list-style: none;
    display: inline-flex;
    cursor:pointer;
    background-color: rgb(61, 58, 50);
    line-height: 0.6;
    padding: 0.5% 1.2%;
}

.ff9 {
    color:whitesmoke;
    font-size: 24px;
    list-style: none;
    display: inline-flex;
    cursor:pointer;
    background-color: rgb(22, 180, 30);
    line-height: 0.6;
    padding: 0.5% 1.2%;
}

.rei{
    width: 150px;
    height: 150px;
    border: solid rgb(255, 209, 94);
}

.aphin{
    width: 150px;
    height: 150px;
    border: solid rgb(139, 4, 139);
}

.hyde{
    width: 150px;
    height: 150px;
    border: solid rgb(37, 22, 8);
}

.link-vermelho {
    text-align: center;
    color: red;
    list-style-type: none;
}

.link-rosa {
    text-align: center;
    color: rgb(255, 150, 238);
    list-style-type: none;
}

.link-cinza {
    text-align: center;
    color: rgb(61, 58, 50);
    list-style-type: none;
}

.link-verde {
    text-align: center;
    color: rgb(22, 180, 30);
    list-style-type: none;
}

.zack {
    width: 150px;
    height: 150px;
    border: solid blue;
}

.ladgerda {
    width: 150px;
    height: 150px;
    border: solid orange;
}

.rosso {
    width: 150px;
    height: 150px;
    border: solid red;
}

.ari {
    width: 150px;
    height: 150px;
    border: solid rgb(255, 150, 238);
}

.vengeance {
    width: 150px;
    height: 150px;
    border: solid rgb(61, 58, 50);
}

.roleta {
    width: 150px;
    height: 150px;
    border: solid rgb(22, 180, 30);
}