.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);

  background: black;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;

  transition: opacity 0.3s;
  z-index: 999;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}